/* Estilos para el contenedor de los mensajes */
.messages {
  height: 90%; /* Ajusta la altura máxima */
  overflow-y: auto; /* Agrega barra de desplazamiento si el contenido es largo */
  padding: 10px;
}

/* Estilo de cada mensaje */
.message {
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: 1.5;
}

/* Estilo de los mensajes de BIA */
.bia-message {
  color: #002da0;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
  max-width: 100%;
  margin-left: auto;
  word-wrap: break-word;
  white-space: pre-line; /* Respetar los saltos de línea */
}

/* Estilo de los mensajes del usuario */
.user-message {
  color: black;
  background-color: #e6f7ff;
  padding: 10px;
  border-radius: 8px;
  max-width: 70%;
  margin-right: auto;
  word-wrap: break-word;
  white-space: pre-line; /* Respetar los saltos de línea */
}

/* Estilos del input del mensaje */
.message-input {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.message-input input {
  flex: 1;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

.message-input button {
  background-color: #ff7800;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #e46c00;
}
.chat-box{
  height: 800px;
}